/* write your override styles here */
.tag-1 {
  background: none;
}

#tag-2 {
  background: none;
}

#tag-3 {
  background: none;
}

#tag-4 {
  background: none;
}

#tag-5 {
  background: none;
}

#tag-6 {
  background: none;
}

#tag-7 {
  background: none;
}